body{
background-image: url('/images/backgroundone.jpg');
background-repeat: no-repeat;
background-size: cover;
}

h1{
color: red;
}

.col-12 a{
border-radius: 50%
margin: 3%;
}
.col-md-12{
text-align:center;
}
