{{#partial "content"}}

    <nav class="navbar" style="background-color:red; text-align:center">
        <div class="container">
            <a href="/myheros" class="btn aqua-gradient text-white" style="border: 2px solid white; margin-top:4px; color:white" >Create Your Squad</a>
        </div>
    </nav>



{{/partial}}

{{> layout.hbs}}