{{#partial "content"}}

    <nav class="container-fluid" style="background-color:red; text-align:center; margin-top:1%; margin-bottom:5%">
        <div class="container" style="backgroun-color:red; text-align:center;">
            <a href="/mysquad/new" class="btn aqua-gradient text-white" style="border: 2px solid white; margin-top:4px; color:white" >Create Your Squad</a>
        </div>
<!--        href="/myheros/new" -->
    </nav>



{{/partial}}

{{> layout.hbs}}