{{#block "header"}}
    <!Doctype html>
    <html>
    <head>
        <title>{{#block "title"}}Blog{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel='stylesheet' href='./app.css'>
    </head>
    <body style="background-image: url('http://m.gettywallpapers.com/wp-content/uploads/2020/01/Spider-Man-Wallpaper-For-PC.jpg'); background-repeat: no-repeat; background-size: cover;">
<!--        <ul class="nav nav-tabs">-->
<!--            <li role="presentation" class="active"> <a href="#">Home</a></li>-->
<!--            <li role="presentation"><a href="/posts">See all Posts</a></li>-->
<!--            <li role="presentation"><a href="/posts/new">Add a New Post</a></li>-->
<!--        </ul>-->

    <!--Begin main template-->
    <div class="container" style="margin-top:15%">
        <div class="page-header" style="text-align:center;">
            <h1 style="color:white"> Welcome and choose your Super hero and Favorite Squad. <small> </small> </h1>
        </div>
        <div class="col-md-12">
            {{#block "content"}}

            {{/block}}
        </div>

    </div>
    <!--End main template-->
    {{#block "footer"}}
        <footer class="footer">
            <div class="container" style="text-align:center;font-size:20px" >
                <p class="text-muted" style="color:red"> My Hero Squad Application! </p>
            </div>
        </footer>
    {{/block}}
    </body>
    </html>
{{/block}}