{{#partial "content"}}
    <div>
        {{#each hero}}

            <div class="card" style="color:white; text-align: center;">
                <div class="card-body">
                    <ul type="none">
                        <li><h4> Name of Hero: {{name}}</h4></li>
                        <li><h4> Age of Hero: {{age}} Years Old.</h4> </li>
                        <li><h4>Power of the Hero: {{power}}</h4></li>
                        <li><h4>Weakness of the Hero: {{weakness}}</h4></li>
                    </ul>
                </div>
            </div>
            <hr style="height:2px; width:100%; border-width:0; color: black; background-color:black;">

        {{/each}}
        <br>
        <p><a class="btn btn btn-default" href="/myheros/new" style="text-align: center;">Add Hero</a></p>

    </div>

{{/partial}}

{{> layout.hbs}}