{{#partial "content"}}
    <div class="list-group">

            <div class="card" style="color:white;">
    {{#each squad}}
        <div class="card-body">
            <ul type="none">

                <li><h4> Squad Size: {{ size }}</h4></li>
                <li><h4> Squad Name: {{ name  }} .</h4> </li>
                <li><h4>Squad Cause: {{ cause }}</h4></li>

            </ul>
        </div>
        <a class="btn btn-primary" href="/myheros/new"> New Hero.</a>
    {{/each}}
            </div>
            <hr style="height:2px; width:100%; border-width:0; color:black; background-color:black">
            </div>

    </div>

    <a class="btn btn-success" href="/mysquad/new"> Add new Squad.</a>
{{/partial}}

{{> layout.hbs}}